body{
	background-color: #adadad;
	font-family: Helvetica, Arial, sans-serif;
	text-decoration: none;
}

a{
	color:#4E78A0;
	transition-property: color;
	transition-duration: .5s;
	transition-timing-function: ease-in;
}
a:hover{
	color: white;
}

h1{
	color: #84868A;
	font-size: 270%;
}

h2{
	color: #2253ac;
}

table{
	width: 250px;
	border: 0px;
	padding: 10px 10px 10px 10px;
	margin: auto;
}

td{
	margin: auto;
	valign: center;
}

td img{
	width: 60px;
	height:60px;
}