body{
	background-color: #adadad;
	font-family: Helvetica, Arial, sans-serif;
}

a{
	text-decoration: none
	color:#4E78A0;
	transition-property: color;
	transition-duration: .5s;
	transition-timing-function: ease-in;
}

a.title:link{
	color: #424242;
}

a.title:visited{
	color: #424242;
}

a.title:hover{
	color: #424242;
}

h1{
	color: #84868A;
	font-size: 270%;
}

h2{
	color: #2253ac;
}